@charset "UTF-8";

@media screen and (min-width: 425px) {
    nav a {
        font-size: 1.4em;
    }

    .input-padrao, textarea {
        width: 70%;
    }

    .enviar {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 940px;
        margin: auto;
        position: relative;
        text-align: left;
    }

    nav {
        position: absolute;
        top: 110px;
        right: 0;
    }

    main {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .produto {
        display: inline-block;
        width: 30%;
        margin: 1.5%;
    }
}