@charset "UTF-8";

.produto {
    display: block;
    border: 1px solid #000000;
    max-width: 350px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px 20px;
    text-align: center;
}

.produto:hover {
    border-color: #C78C19;
}

.produto:hover h2 {
    font-size: 1.9em;
}

.produto:active {
    border-color: #088C19;
}

.produto__titulo {
    font-size: 1.8em;
}

.produto__descricao {
    font-size: 1.1em;
}

.produto__preco {
    font-size: 1.4em;
    margin-top: 10px;
}